{% extends "layout.html" %}

{% block content %}
    {% include "utilities/side-bar.html" %}

    <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
        <!-- / .main-navbar -->
        <div class="main-content-container container-fluid px-4">
            <!-- Page Header -->
            <div class="page-header row no-gutters py-4">
                <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                    <h3 class="page-title">Education</h3>
                </div>
            </div>
            <!-- End Page Header -->
            <div class="row">
                <div class="col-lg-6 col-sm-12 mb-4">
                    <div class="card card-small card-post card-post--1">
                        <div class="card-post__image">
                            <a href="#" class="card-post__category badge badge-pill badge-warning">Flesch Kincaide</a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="text-fiord-blue" href="#">{{ grade_level }}</a>
                            </h5>
                            <p class="card-text d-inline-block mb-3">{{ readability_info }}</p>
                            <span class="text-muted"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 mb-4">
                    <div class="card card-small card-post card-post--aside card-post--1">
                        <div class="card-post__image"
                             style="background-image: url('images/content-management/6.jpeg');">
                            <a href="#" class="card-post__category badge badge-pill badge-dark">Business</a>
                            <div class="card-post__author d-flex">
                                <a href="#" class="card-post__author-avatar card-post__author-avatar--small"
                                   style="background-image: url('images/avatars/1.jpg');">Written by Jamie James</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="text-fiord-blue" href="#">Totally words widow one downs few age every seven if
                                    miss part by fact</a>
                            </h5>
                            <p class="card-text d-inline-block mb-3">Discovered had get considered projection who
                                favourable. Necessary up knowledge it tolerably. Unwilling departure education to
                                admitted speaking...</p>
                            <span class="text-muted">29 February 2019</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


{% endblock %}